#imagen{
    border-radius: 20%;
    width: 120px;
    height: 130px;
}


#D{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
    border-radius: 20%;
    border: black 3px solid;
    width: 210px;
    height: 280px;
}

#DP{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

#T{
color: black;
font-size: 10px;
}

#B{
    border-radius: 15%;
    width: 110px;
    height: 50px;
    background-color: aqua;
    color: white;
    font-size: 20px;
    border: 6px dotted rgb(255, 255, 255);
}