#Div{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
    background-color: rgb(0, 0, 0);
border-right: 15px none #ff0000;
border-left: 15px none #ff0000;
box-shadow:0 0 47px #ff0000;
}

#div{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
        background-color: rgb(0, 0, 0);
border-right: 15px none #ff0000;
border-left: 15px none #ff0000;
border-top: 15px none #ff0000;
box-shadow:0 0 47px #ff0000;
}

#diV{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    background-color: rgb(0, 0, 0);
border-right: 15px none #ff0000;
border-left: 15px none #ff0000;
border-bottom: 15px none #ff0000;
box-shadow:0 0 47px #ff0000;
}

#BS{
    border-radius: 15%;
    width: 110px;
    height: 50px;
    background-color: rgb(0, 0, 0);
border-right: 5px dotted #ff0000;
border-left: 5px dotted #ff0000;
border-bottom: 5px dotted #ff0000;
border-top: 5px dotted #ff0000;
box-shadow:0 0 47px #000000;
    color: white;
    font-size: 10px;
margin-top: 20px;
}


#Be{
    border-radius: 15%;
    width: 110px;
    height: 50px;
    background-color: rgb(0, 0, 0);
border-right: 5px dotted #ff0000;
border-left: 5px dotted #ff0000;
border-bottom: 5px dotted #ff0000;
border-top: 5px dotted #ff0000;
box-shadow:0 0 47px #000000;
    color: white;
    font-size: 10px;
    margin-bottom: 20px;
}